project/.DS_Store
project/.DS_Store
project/data/.DS_Store
project/data/raw/imgs/.DS_Store
project/data/raw/.DS_Store
project/data/.DS_Store
project/.DS_Store
project/data/.DS_Store
project/data/raw/.DS_Store
project/data/raw/imgs/.DS_Store
